<div class='post-details'>
  <div class='post-details__header'>
  <h5 class='post-details--heading'>Post #<%=post_data.id%> by <%=User.find(post_data.author_id).name%></h5>
  <p class='post-details--counters'>Comments: <%=post_data.comment_counter%>,Likes: <%=post_data.like_counter%></p>
  </div>
  <div post-details__body>
    <h4 class='post-details--title'><%= post_data.title %></h4>
    <p class='post-details--text'><%=post_data.text%></p>
  </div>
</div>