<div class='post-container'>
  <h5 class='post-container--heading'>Post #<%=post_data.id%></h5>
  <h4 class='post-container--text'><%= link_to post_data.title, user_post_path(current_user_id, post_data.id) %></h4>
  <p class='post-container--text'><%=post_data.text%></p>
  <p class='post-container--counter'>
    Comments: <%=post_data.comment_counter%>, Likes: <%=post_data.like_counter%>
  </p>
  <%= flash[:success]%>
</div>
