<h1>Here is a list of posts for a given user.</h1>
<div class="posts">
  <%= render partial: 'shared/user' ,locals:{user_data: @user_data}%>
<%@posts.each do |post|%>
 <div class="post-with_comment">
 <div class= "post-item">
  <%= render partial: 'shared/post' ,locals:{post_data: post, current_user_id: @current_user_id}%>
   <div class='post-container--buttons'>
  <%= button_to 'Add Comment', new_comment_path(user_id:@current_user_id,id:post.id),method: 'get' ,class: 'comment-btn' %>
  <%= button_to 'Like', like_path(user_id:@current_user_id,id:post.id) ,method: 'get' ,class: 'like-btn'%>
  </div>
  </div>
  <div class="post-comment"><%= render partial: 'shared/comment' ,locals:{comments_data: post.most_recent_comments}%></div>
 </div>
<%end%>
<div class="pagination-conatiner">
<button class='pagination'>pagination</button>
</div>
</div>