<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <div class='main-header'>
      <h1 class='main-header__logo'><%=link_to 'Blog App',users_path ,class: 'logo-link'%></h1>
      <%= button_to  'Add Post', '/users/1/posts/new' ,class: 'main-header__add-post',method: 'get'%>
    </div>
    <%= yield %>
  </body>
</html>
